<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.techgadgets">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".VRHeadset"
            android:label="Virtual Reality Headset"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ThreeDPrinter"
            android:label="3D Printer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ModularSynth"
            android:label="Modular Synthesizer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RaspberryPi"
            android:label="Raspberry Pi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GraphicsCard"
            android:label="Graphics Processing Unit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>